
@{
    Layout = null;

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/Manager.css" />
</head>
<body>
    <h2>XYC Corp Managers</h2>
    <p>Our managers are the best!</p>
</body>
</html><h2></h2>

